@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 480px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
        margin-bottom: 0
    }
</style>


<section class="content-header">
    <h1>
        Register Dashboard
        <small>Details</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
   

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    

                </div>
                
                <div class="box-body">
                    <div class="row">
                        
                       
                    </div>
                    
                </div>
                
                <div class="box-footer">
                    <div class="row">
                       
                        
                    </div>
                    
                </div>
               
            </div>
            
        </div>
       
    </div>
    
</section>






